:root {
    --blackOlive: #363732;
    --skyBlue: #53D8FB;
    --mayaBlue: #66C3FF;
    --gainsBoro: #DCE1E9;
    --cameoPink: #D4AFB9;
}

* {
    font-family: 'Fira Code', monospace;
    word-spacing: 0;
    letter-spacing: 0;
}

html, body {
    margin: 0;
    padding: 0;

    width: 100vw;
    text-align: center;
    background-color: whitesmoke;
}

h1, h2, h3, h4, h5, h6, p {
    color: var(--blackOlive);
}

.title {
    font-size: 330%;
    font-weight: bolder;

    text-shadow: 0 0 2px var(--blackOlive);
}

.container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0 20%;
}